*{
    margin: 0;
    padding: 0;
}
.logo{
    height: 15vh;
    width: 100vw;
}
#logoimageid{
    height: 15vh;
    width: 100vw;
}
.houseimage{
    /* position: relative; */
    width: 100vw;
    height: 85vh;
    background-color: #a2d2ff;
    /* background-image: url("disruptor_roundup-iStock-1193457516-1024x681.jpg"); */
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#textinhouseimage{
    opacity: 0;
    animation: fadeInCenter 2s ease forwards;
    font-family: 'Montserrat';
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
}
#heading{
    -webkit-text-fill-color: #118ab2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
    font-size: 65px;
    margin-bottom: 20px;
}
#moto{
    -webkit-text-fill-color: #118ab2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
    font-size: 45px;
    margin-bottom: 35px;
    text-align: right;
}

#btn{
    text-align: right;
}

button{
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    background-color: aliceblue;
    font-size: larger;
    height: 45px;
    width: 100px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}

button:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7); /* Increase shadow size on hover */
}

@keyframes fadeInCenter {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }