*{
    margin: 0;
    padding: 0;
}
#logoimageid{
    height: 15vh;
    width: 100vw;
}
#outer_container{
    height: 85vh;
    width: 100vw;
    background-color: #a2d2ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    height: 60vh;
    width: 35vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15vh 35vh 5vh 5vh;
    flex-direction: column;
    background-color: aliceblue;
    /* background-color: #fff1; */
    /* border: 3px solid #118ab2; */
    border-radius: 5%;
    font-family: 'Montserrat';
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

#message{
    display: flex;
    justify-content: left;
    margin-left: 3.5vw;
    align-items: center;
    font-size: xx-large;
}

#formpage{
    display: flex;
    margin-left: 3.5vw;
    justify-content: center;
    flex-direction: column;
    width: 27.5vw;
}

label{
    height: 4vh;
    font-size: x-large;
    margin-bottom: 7px;
}

input{
    height: 4vh;
    margin-bottom: 15px;
    border:1px solid black;
    border-radius: 5px;
}

#backbtn{
    width: 7vw;
    height: 5vh;
    font-size: larger;
    background-color: #118ab2;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 5vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#backbtn:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Increase shadow size on hover */
    /* transform: scale(1.1); */
}

#loginbtn{
    width: 7vw;
    height: 5vh;
    font-size: larger;
    background-color: #118ab2;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#loginbtn:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Increase shadow size on hover */
    /* transform: scale(1.1); */
}

hr{
    display: inline;
    color: black;
    width: 13vw;
}
#---or---{
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signupmessage{
    display: flex;
    justify-content: center;
    font-size: larger;
}