*{
    margin: 0;
    padding: 0;
}

header{
    height: 10vh;
    width: 100vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #1477b5;
    border: 2px solid #1477b5;
}


#navbarlogo{
    padding-top: 22.5px;
    height: 10vh;
    width: 20vw;
    margin-right: 10vw;
}

.navbaroptions{
    display: inline-block;
    margin-right: 15vw;
    font-family: 'Montserrat';
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: larger;
    cursor: pointer;
    text-decoration: none;
}


#navbaroption{
    display: inline-block;
    font-family: 'Montserrat';
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: larger;
    cursor: pointer;
}

main{
    font-family: 'Montserrat';
    background-color: #A2D2FF;
    height: 90vh;
    border: 2px solid black;
}

#maincontainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.sociallink{
    height: 50%;
    width: 15%;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #118ab2;
    
}

.sociallink:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7); /* Increase shadow size on hover */
    transform: scale(1.1);
}

img{
    height: 100px;
    width: 100px;
    margin-right: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}


#callpart{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
#emailpart{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#email{
    height: 20%;
}

#fbpart{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#Xpart{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#igpart{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
