*{
    margin: 0;
    padding: 0;
}

header{
    height: 10vh;
    width: 100vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #1477b5;
    border: 2px solid #1477b5;
}


#navbarlogo{
    height: 10vh;
    width: 20vw;
    margin-right: 10vw;
}

.navbaroptions{
    display: inline-block;
    margin-right: 15vw;
    font-family: 'Montserrat';
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: larger;
    cursor: pointer;
}

#navbaroption{
    display: inline-block;
    font-family: 'Montserrat';
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: larger;
    cursor: pointer;
}

#maincontainer{
    height: 85vh;
    width: 100%;
    /* font-family: 'Montserrat'; */
}