*{
    margin: 0;
    padding: 0;
}

header{
    height: 10vh;
    width: 100vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #1477b5;
    border: 2px solid #1477b5;
}


#navbarlogo{
    height: 10vh;
    width: 20vw;
    margin-right: 10vw;
}

.navbaroptions{
    display: inline-block;
    margin-right: 15vw;
    font-family: 'Montserrat';
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: larger;
    cursor: pointer;
    text-decoration: none;
}


#navbaroption{
    display: inline-block;
    font-family: 'Montserrat';
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: larger;
    cursor: pointer;
}

main{
    font-family: 'Montserrat';
    background-color: #A2D2FF;
    height: 90vh;
    border: 2px solid black;
}

#au{
    margin-top: 0.5vh;
    margin-left: 3vw;
}

h2{
    margin-top: 20px;
    margin-bottom: 7px;
}

#heading1{
    margin-top: 5px;
}

