*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #a2d2ff;
}

header{
    height: 10vh;
    width: 100vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #1477b5;
    border: 2px solid #1477b5;
}


#navbarlogo{
    height: 10vh;
    width: 20vw;
    margin-right: 8vw;
}

.navbaroptions{
    display: inline-block;
    margin-right: 8vw;
    font-family: 'Montserrat';
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: larger;
    cursor: pointer;
}

#searchbtngroup{
    height: 10vh;
    display: flex;
    align-items: center;
    cursor: pointer;
}

input{
    font-family: 'Montserrat';
    height: 3.75vh;
}

#searchbtnbtn{
    font-family: 'Montserrat';
    background-color: #134b6e;
    color: white;
    border-radius: 5px;
    height: 4vh;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    background-color: #134b6e;
}

/* Style the marquee content */
.marquee-content {
    font-family: 'Montserrat';
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: max-content;
    /* white-space: nowrap; */
    transform: translateX(100%);
    animation: marquee-scroll 30s linear infinite;
    
}

/* Keyframes for marquee scrolling animation */
@keyframes marquee-scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

#supermaincontainer{
    padding-top: 20px;
}

#newitemsmessage{
    height: 6.5vh;
    width: 35vw;
    /* font-size: xx-large; */
    font-family: 'Montserrat';
    padding-left: 10vw;
    padding-top: 20px;
    animation: changeColor 1s linear infinite alternate;
}

#downarrow{
    animation: changeColor 1s linear infinite alternate;
}

@keyframes changeColor {
    0% {
        color: #ff0000; /* Red color */
    }
    50% {
        color: #00ff00; /* Green color */
    }
    100% {
        color: #0000ff; /* Blue color */
    }
}

#maincontainer{
    background-color: #a2d2ff;
    width: 100vw;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}

#container{
    width: 80vw;
    height: 60vh;
    box-shadow: 0px 0px 3px grey;
    /* margin-top: vh; */
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.slidebtns{
    /* margin-top: 22.5vh; */
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff9;
    font-size: larger;
    font-family: 'Montserrat';
    font-weight: bold;
    color: black;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}

.slidebtns:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7); /* Increase shadow size on hover */
}

.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.75s ease;
    border-radius: 20px;
    box-shadow: 0px 0px 10px grey;
    display: flex;
    /* grid-template-columns: 35vw 35vw;
    grid-template-rows: 20vh 40vh; */
}

/* #slide1{
    background-color: blue;
}
#slide2{
    background-color: rebeccapurple;
}
#slide3{
    background-color: red;
}
#slide4{
    background-color: chartreuse;
}
#slide5{
    background-color: fuchsia;
} */

